body{
	background-color:yellow;
}

.dropdown-menu > li{
	background-color:white;
	color:black;
}
.navigation nav{
	position:fixed;
	top:0px;
}

//brief_intro
.image-cropper {
    max-width: 100px;
	height:50px;
    overflow: hidden;
}
.rounded {
    display: block;
	left:10vw;
	margin-left:2vw;
	margin-bottom:30px;
	margin-top:85px;
	vertical-align:30px;
    height: 240px;
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-size:cover;
	border: solid 1px black;
	
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	transition: all 3s ease;
	-o-transition:all 3s ease;
}

//navigation bar
nav{
	position:fixed;
	top:0;
	z-index:2;
}
.navbar navbar-inverse .container-fluid .navbar-header{
	background-color:white; 
	padding-left:5vw;
	padding-right:5vw;
	
	margin-right:5vw;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:0;
}

	/*.navigation_bar{
	background-color:white; 
	padding-left:25vw;
	padding-right:25vw;
	margin-left:25vw;
	margin-right:25vw;
	}
	.navigation_bar ul{
		  list-style-type: none;
		  list-style:none;

		  overflow: hidden;
		  background-color: black;
		  position: -webkit-sticky; // Safari 
		  position: sticky;
		  top: 0;
		}
	.navigation_bar li{
		float:left;
		display:inline;
	}
	
	.navigation_bar li a {
	  display: block;
	  color: white;
	  background-color:black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	.navigation_bar li a:hover:not(.active) {
	  background-color: gray;
	  color: black;
	  font-weight:bold;
	}
	.navbar-brand a:hover:not(.active) {
	  background-color: #000000;
	}
	.navigation_bar .active {
	  
	  background-color: gray;
	  color: black;
	  font-weight:bold;
	}
	.navigation_bar li a, .dropbtn1 {
	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	.navigation_bar li a:hover, .dropdown:hover .dropbtn1 {
	  background-color: gray;
	  
	}
	.navigation_bar	li.dropdown {
	  display: inline-block;
	}

	.navigation_bar .dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.navigation_bar .dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	.navigation_bar .dropdown-content a:hover {background-color: #f1f1f1}

	.navigation_bar .dropdown:hover .dropdown-content {
	  display: block;
	}*/
	.navigation_bar .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
	background-color:black;
  color:white;
  font-weight:bold;
  z-index:2;
  }

  /*.dropdown-toggle a:hover{
  
  background-color:black;
  color:white;
  font-weight:bold;
  }*/

  .dropdown-toggle a:hover:not(.active) {
	  background-color: gray;
	  color: black;
	  font-weight:bold;
	  z-index:2;
	}

.about {
	z-index:-1;
}
.downClass{
	padding-top:120px;
}
//FOR TESTING
   /* body {
      background-color: #FDE74C;
      transition: all 1s ease-in;
      padding: 50px;
      color: #111;
      font-family: sans-serif;
      line-height: 32px;
      font-size: 18px;
    }
 
    h1 {
      font-family: sans-serif;
    }
 
    .colorOne {
      background-color: #9BC53D;
      color: #000;
    }
 
    .colorTwo {
      background-color: #FFF;
      color: #000;
    }
 
    #mainContent {
      width: 420px;
      margin: 0 auto;
    }
 
    #mainContent p {
      padding: 20px;
    }
 
    #mainContent #firstBox {
      font-weight: bold;
      transform: translate3d(-30px, 0, 0);
      transition: all .5s ease-out;
      opacity: 0;
    }
 
    #mainContent #firstBox.active {
      background-color: #333;
      color: #FFF;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
 
    #mainContent #secondBox {
      transition: all .2s ease-in-out;
      transform: translate3d(0, 30px, 0);
      opacity: 0;
    }
 
    #mainContent #secondBox.active {
      background-color: #1581AF;
      color: #FFF;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
 
    #mainContent ol li {
      padding-left: 7px;
      margin-bottom: 15px;
      transition: all .2s ease-in-out;
      transform: translate3d(20px, 0, 0);
      opacity: 0;
    }
 
    #mainContent ol li.active {
      transform: translate3d(0px, 0, 0);
      opacity: 1;
    }*/
	
.contact{
	border: solid 1px black;
	border-radius:2%;
}

//footer
.footer{
background-color:black;
bottom:0px;
color:white;
font-weight:bold;
}